grant codebase "file:/Users/elvinzhang/COMP_512_Projects/Project2/Travel_Reservation_System_TCP/Server/" {
permission java.security.AllPermission;
};
