grant codebase "file:/home/2021/mzhang118/COMP_512_Projects/Project2/Travel_Reservation_System_TCP/Server/" {
permission java.security.AllPermission;
};
